/* место для вашего кода */

/******* Общие Положение элементов на странице*****/
body {
    max-width: 1440px;
    margin: 0 auto;
    /*width: 100%;*/
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.content_section {
    max-width: 1340px;
    margin: 0 auto;
    height: 200px;
}


/*********header********/

.header__content {
    max-width: 1340px;
    height: 109px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*******Ссылки*********/
.header__links-list {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    border: 1px solid black;

}

.header__links-list-item {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: circle;
}

.header__links-list-item_no-bullit{
    list-style: none;
}

/***************Картинка***********/
.header__logo {
    width: 154px;
    height: 110px;
    border: 1px solid black;
    padding: 3px 12px 7px 11px;
    margin: 0 150px 0 0;
}

.header__logo-image {
    display: block; 
}

/*****************Адрес********************/

.adress {
    display: flex;
    flex-direction: column;
}

address {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
}

.header__link {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
}
    

/**********main*******************/

/*********cover*******************/

.cover {
    position: relative;
    width: 1440px;
    height: 757px;
    border: 1px solid black;
    
}
/***********маска****************/
.overlay {
    position: absolute;
    opacity: 0.6;
    background-color: #000;
    width: 1440px;
    height: 757px;
}
/***********фон******************/
.cover__overlay {
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/***********Блок с текстом**************/
.cover__title {
    width: 1340px;
    height: 263px;
    border: 1px solid black;
    margin: 165px 50px 239px 50px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.aligned-text {
    display:block;
    position: relative;
    z-index: 1;
    color: white;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
    margin-right: -29px;
    margin-bottom: 5px;
}
/*Выравнивание букв*/
.align-text-o {
    margin-left: 28px;
}

.align-text-teb {
    margin-left: 0px;
}

.align-text-e {
    margin-left: 32px;
    margin-right: 32px;
}

.align-text-n {
    margin-right: 29px;
}

/**********Подзаголовок и кнопка**********/

.cover__description {
    display: flex;
    border: 1px solid black;
    justify-content: end;
    gap: 78px;
}

.cover__description-text {
    color: #FFF;
    /*text-align: center;*/
    /*font-family: Raleway;*/
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    display:block;
    position: relative;
    z-index: 1;
    word-spacing: 17px;
    margin-right: 47px;
}
/*********Выравнивание слов*******/
.cover__description-text-veril {
    margin-right: 3px;
    margin-left: 5px;
    display:inline-block;
}

/***********Кнопка**************/

.bet-button {
    
    width: 257px;
    height: 52px;
    border: 1px solid white;
    color: #FFF;
    z-index: 1;
    
    
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-right: 48px;
    margin-left: -48px;
    margin-top: -14px;


}