/* место для вашего кода */

/******* Общие Положение элементов на странице*****/
body {
    /*max-width: 1440px;*/  /* Подскажите а как ограничивать Padding  если он для каждой секции разный? Или Cover нужно отдельно padding прописать ?  */
    margin: 0 auto;
    /*width: 100%;*/
    padding-top: 92px;
    /*padding-bottom: 90px;*/
}

/*********Обнление кнопки***********/
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.content_section {

    /*max-width: 1340px;*/
    /*padding-left: 51px;
    padding-right: 49px;*/
    margin: 0 auto;
    /*height: 200px;*/
}


/*********header********/
.header {
    margin-bottom: 93px;
}

.header__content {
    padding-left: 51px;
    padding-right: 49px;
    /*max-width: 1340px;*/
    /*height: 109px;*/
    border: 1px solid white;
    display: flex;/*Мне FLex вроде удобнее работать*/
    justify-content: space-between;
    align-items: center;
}

/*******Ссылки*********/
.header__links-list {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    border: 1px solid white;

}

.header__links-list-item {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: circle;
}

.header__links-list-item_no-bullit{
    list-style: none;
}

/***************Картинка***********/
.header__logo {
    /*width: 154px;
    height: 110px;
    border: 1px solid white;
    padding: 3px 12px 7px 11px;
    margin: 0 150px 0 0;*/
    width: 135px;
    height: 106px;
    /* border: 1px solid white; */
    /* padding: 3px 12px 7px 11px; */
    margin: 0 150px 0 0;
}

.header__logo-image {
    display: block; 
    width: 100%;
    height: 100%;
}

/*****************Адрес********************/

.adress {
    display: flex;
    flex-direction: column;
}

address {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
}

.header__link {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
}
    

/**********main************************/

/*********cover************************/

.cover {
    position: relative;
    /*width: 1440px;*/
    padding-left: 0;
    padding-right: 0;
    /*height: 757px;*/
    border: 1px solid white;
    margin-bottom: 180px;
    z-index: 0;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/***********маска****************/
.overlay {
    position: absolute;
    opacity: 0.6;
    background-color: #000;
    top:0;
    left:0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
/***********фон******************/


/***********Блок с текстом*********/
.cover__title {
    /*width: 1340px;*/
    /*height: 263px;*/
    /*border: 1px solid white;*/
    margin: 165px 50px 136px 50px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.aligned-text {
    display:block;
    position: relative;
    
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 114%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    z-index: 3;
}

.aligned-text_center {
    display: block;
    text-align: center;
}

.aligned-text_right {
    display:block;
    text-align: right;
    margin-right: -32px;
    margin-bottom: 0px;
}
/*Выравнивание букв*/
.align-text-o {
    display: inline-block;
    margin-left: -25px;
}

.align-text-teb {
    display: inline-block;
    margin-left: 59px;
    margin-top: 2px;
}

.align-text-e {
    display: inline-block;
    margin-left: -23px;
    margin-right: 88px;
}


.align-text-n {
    display: inline-block;
    margin-right: -21px;
}

/**********Подзаголовок и кнопка******/

.cover__description {
    display: flex;
    /*border: 1px solid white;*/
    justify-content: end;
    gap: 78px;
    margin-bottom: 51px;
}

.cover__description-text {
    color: #FFF;
    /*text-align: center;*/
    /*font-family: Raleway, sans-serif;*/
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    display:block;
    position: relative;
    z-index: 3;
    word-spacing: 17px;
    margin-right: 47px;
}
/*********Выравнивание слов*******/
.cover__description-text-veril {
    margin-right: 3px;
    margin-left: 5px;
    display:inline-block;
}

/***********Кнопка**************/

.bet-button {
    
    width: 257px;
    height: 52px;
    border: 1px solid white;
    color: #FFF;
    
    
    
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-right: 48px;
    margin-left: -48px;
    margin-top: -14px;
    z-index: 3;
}

/************Lots************************/

.lots {
    padding-left: 49px;
    padding-right: 49px;
    /*width: 1340px;
    height: 579px;*/
    border: 1px solid white;
    margin-bottom: 180px;
}

.lots__heading {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 39px;
}

/************Карточки********/
.lots__card-list {
    display: flex;
    gap: 25px;
    list-style: none;
    margin-bottom: 28px;
    flex-wrap: wrap;
}

.lots__card-list-item {
    width: 430px;
    height: 450px;
    position: relative;
    flex-grow: 1;
}

.card-link {
    display: block;
    text-decoration: none;
    height: 100%;
    
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*padding: 50px 40px 50px 40px;*/
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    /*background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 40px 50px 40px;*/
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    /*background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 40px 50px 40px;*/
}

.card__title {
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 2;
    margin-left: 39px;
    margin-top: 49px;
    margin-right: 40px
}

.card__text {
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    z-index: 2;
    margin-left: 39px;
    margin-bottom: 52px;
    margin-right: 40px
}

/*.card__overlay {
    position: absolute;
    opacity: 0.6;
    background-color: #000;
    top:0;
    left:0;
    z-index: 1;
    width: 100%;
    height: 100%;
}*/



/***********Ссылка********/

.lots__look-more-link {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
}

/******************About*********/

.about {
    padding-left: 50px;
    padding-right: 50px;
    /*width: 1340px;
    height: 487px;*/
    border: 1px solid white;
    /*grid-template-rows: 1fr 1fr;*/
}

.about__column {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}
.about__logo {
    grid-row: 1/3;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 94px;
}

/*.about__logo__container {
    
}*/

.about__logo-image {
    width: 148px;
    height: 114px;
    
}

.about__title {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 102px;
    margin-left: 9px;
    margin-bottom: 97px;
}

.about__text__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 9px;
}

.about__text {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/*************Footer********/

.footer__box {
    padding-left: 50px;
    padding-left: 50px;
    /*width: 1340px;
    height: 109px;*/
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-list-item {
    color: #000;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list-li {
    display: flex;
    list-style: none;
    gap: 47px;
}


.footer__social-icon {
    height: 48px;
}

/**********Выравнивание********/
main {
    margin-bottom: 179px;
}

.footer__menu {
    margin-left: -48px;
}

.footer__social-list {
    margin-right: 50px;
    margin-left: -50px;
}